*{
  background-image: linear-gradient(to right, #0BEAE5, #C9CB4B);
}
.home{
  height: 90vh;
  padding: 15em;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.btn{
  background: rgb(22,100,111);
  background: linear-gradient(90deg, rgb(6, 173, 179) 11%, rgb(196, 193, 53) 89%);
}

